<div class="center-div">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="app/assets/TangentLogo.png" height="120" width="447"/>
    </div>

    <div class="card-content">
      <span class="card-title">Login</span>
      <p>Click to reveal</p>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
      <div class="input-field">
        <input id="user_name" type="text" class="validate" [(ngModel)]="localUser.username" required autofocus>
        <label for="user_name">Username</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate" [(ngModel)]="localUser.password" required
               (keydown.enter)="submit()">
        <label for="password">Password</label>
      </div>

      <button class="waves-effect waves-light waves-button-input" (click)="authenticate()">Authenticate</button>
      <button class="waves-effect waves-light btn" (click)="loginUser()">Login User</button>
      <button class="waves-effect waves-light btn" (click)="login()">Login</button>
      <button class="waves-effect waves-light btn" (click)="clear()">Clear</button>

    </div>
  </div>

  <div class="has-error" *ngIf="errorMessage">
    <span class="help-block">{{ errorMessage }}</span>
  </div>
</div>

