
<div class="row">
  <div class="col-sm-12">
    <h1>Edit project</h1>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label class="control-label">Title</label>
        <input [(ngModel)]="project.title" [ngModelOptions]="{standalone: true}" #title />
      </div>

      <div class="form-group">
        <label class="control-label">Description</label>
        <input [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}" #description />
      </div>

      <div class="form-group">
        <label class="control-label">Start date</label>
        <input [(ngModel)]="project.start_date" [ngModelOptions]="{standalone: true}" #start_date />
      </div>

      <div class="form-group">
        <label class="control-label">End date</label>
        <input type="date" [(ngModel)]="project.end_date" [ngModelOptions]="{standalone: true}" #end_date />
      </div>

      <div class="form-group">
        <input [(ngModel)]="project.is_billable" [ngModelOptions]="{standalone: true}" #is_billable />
        <label class="col-sm-2 control-label">Billable</label>
      </div>

      <div class="form-group">
        <input [(ngModel)]="project.is_active" [ngModelOptions]="{standalone: true}" #is_active />
        <label class="col-sm-2 control-label">Active</label>
      </div>

      <div class="form-group">
        <button class="waves-effect waves-light  btn" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="update(pk, title, description, start_date, end_date, is_billable, is_active)">Update</button>

        <button type="button" class="btn waves-button-input waves-red" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
